<!-- education -->
  <section id="education" class="main style2 left dark fullscreen">
    <div class="content box style2">
      <header>
        <h2>Education and Training</h2>
      </header>
          <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Fellowship in Clinical Neurophysiology, EEG Track</h3>

                </div><!--//upper-row-->
                <div class="company">University of Michigan</div>
                <div class="time">2011 - 2012</div>
            </div><!--//meta-->
            <div class="details">
                <p>Subspecialty training in EEG interpretation and Epilepsy management</p>
            </div><!--//details-->
          </div><!--//item-->

      <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Neurology Residency</h3>
            </div><!--//upper-row-->
            <div class="company">University of Texas Southwestern Medical Center at Dallas</div>
              <div class="time">2007 - 2011</div>
        </div><!--//meta-->
        <div class="details">
            <p>Rigorous training in general neurology with broad exposure to all subspecialty fields</p>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Medical School</h3>
            </div><!--//upper-row-->
            <div class="company">University of Texas Southwestern Medical School in Dallas</div>
            <div class="time">2003 - 2007</div>
        </div><!--//meta-->
        <div class="details">
            <p>Graduated top third of the class.</p>
        </div><!--//details-->
      </div><!--//item-->
    </div>
    <a href="#undergrad" class="button style2 down anchored">Next</a>
  </section>
  <section id="undergrad" class="main style2 right dark fullscreen">
  <div class="content box style2">
    <header>
      <h2>Undergraduate Education</h2>
    </header>
    <div class="item">
      <div class="meta">
          <div class="upper-row">
              <h3 class="job-title">Post-Baccalaureate Studies</h3>
          </div><!--//upper-row-->
          <div class="company">University of Texas at Austin</div>
          <div class="time">2000 - 2001</div>
      </div><!--//meta-->
      <div class="details">
          <p>3.9 GPA in medical school pre-requisites while working 40-60 hours per week.</p>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">B.A., English with Minor in Biology</h3>
            </div><!--//upper-row-->
            <div class="company">Baylor University, Waco, TX</div>
            <div class="time">1995 - 1999</div>
        </div><!--//meta-->
        <div class="details">
            <p>Magna cum laude, Phi Beta Kappa</p>
        </div><!--//details-->
    </div><!--//item-->
  </div>
  </div>
    <a href="#publications" class="button style2 down anchored">Next</a>
  </section>
