<!-- Gallery  -->
  <div class="gallery">
    <article class="from-left">
      <a href="images/fulls/reading.jpg" class="image fit"><img src="images/thumbs/reading.png" title="Murakami" alt="Books by Murakami" /></a>
    </article>
    <article class="from-right">
      <a href="images/fulls/cfb.png" class="image fit"><img src="images/thumbs/cfb.png" title="College football" alt="college football map" /></a>
    </article>
    <article class="from-left">
      <a href="images/fulls/coding.jpg" class="image fit"><img src="images/thumbs/coding.png" title="The Matrix" alt="streaming data from the Matrix film" /></a>
    </article>
    <article class="from-right">
      <a href="images/fulls/family.jpg" class="image fit"><img src="images/thumbs/family.png" title="Kids" alt="me and kids" /></a>
    </article>

  </div>

</div>
