<!-- Publications -->
  <section id="publications" class="main style2 left dark fullscreen">
    <div class="content box style2">
      <header>
        <h2>Publications</h2>
      </header>
        <ol>
          <li>Victoria S.S. Wong, Matthew Stevenson, and Linda Selwa, “The presentation of seizures and epilepsy in YouTube videos,” Epilepsy and Behavior vol. 27:1 (247-250).</li>
          <li>Amer M. Awad and Mathew Stevenson, “Isolated Central Nervous System Vasculitis Associated with Antiribonuclear Protein Antibody,” Case Reports in Neurological Medicine, vol. 2011, Article ID 495201, 4 pages, 2011. doi:10.1155/2011/495201.</li>
          <li>February 2010 Carrell-Krusen Neuromuscular Symposium Dallas, TX Myopathy with Ataxia: case report of nemaline myopathy associated with a cerebellar ataxia syndrome</li>
        </ol>
    </div><!--//content-box-->
    <a href="#interests" class="button style2 down anchored">Next</a>
  </section>
